version: '3.3'

services:
  python:
    container_name: backend
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      auntelisa_network:
        ipv4_address: 172.16.238.12
  
  react:
    container_name: frontend
    build: ./frontend/auntelisa
    ports:
      - "3000:3000"

networks:
  auntelisa_network:
      driver: bridge
      ipam:
        config:
          - subnet: 172.16.238.0/24